version: '3.4'

services:
  nginx:
    image: nginx:1.21.6
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ../../../../ssl/vp1ska.ru.crt:/etc/nginx/vp1ska.ru.crt
      - ../../../../ssl/vp1ska.ru.key:/etc/nginx/vp1ska.ru.key
    ports:
      - "80:80"
      - "443:443"
    deploy:
      replicas: 0
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        delay: 10s
      resources:
        limits:
          memory: 1024M
          cpus: "1.0"
        reservations:
          memory: 512M
          cpus: "0.5"

  mongo:
    image: mongo:4.4.10
    environment:
      - MONGO_INITDB_ROOT_USERNAME=kekit*
      - MONGO_INITDB_ROOT_PASSWORD=qweasd123*
    ports:
      - "27017:27017"
    volumes:
      - /home/vpiska/data/mongo:/data/db
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        delay: 10s
      resources:
        limits:
          memory: 1024M
          cpus: "1.0"
        reservations:
          memory: 512M
          cpus: "0.5"

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      - RABBITMQ_DEFAULT_USER=kekit
      - RABBITMQ_DEFAULT_PASS=qweasdzxc
    restart: on-failure
    ports:
      - "15672:15672"
    deploy:
      replicas: 0
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        delay: 10s
      resources:
        limits:
          memory: 5120M
          cpus: "2"
        reservations:
          memory: 2048M
          cpus: "1"

  api:
    image: api
    volumes:
      - /home/vpiska/data/media:/app/media
    build:
      context: .
      dockerfile: src/Vpiska.Api/Dockerfile
    environment:
      - Jwt__Issuer=VpiskaServer
      - Jwt__Audience=VpiskaClient
      - Jwt__Key=vpiska_secretkey!123
      - Mongo__ConnectionString=mongodb://kekit*:qweasd123*@mongo:27017
      - Mongo__DatabaseName=vpiska
      - RabbitMQ__Host=rabbitmq
      - RabbitMQ__User=kekit
      - RabbitMQ__Password=qweasdzxc
    deploy:
      replicas: 0
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        delay: 10s
      resources:
        limits:
          memory: 10240M
          cpus: "3"
        reservations:
          memory: 5120M
          cpus: "1.5"

  webrtc:
    image: webrtc
    build:
      context: .
      dockerfile: src/RtclightWeb/Dockerfile
    environment:
      - Mongo__ConnectionString=mongodb://kekit*:qweasd123*@mongo:27017
      - Mongo__DatabaseName=vpiska
    deploy:
      replicas: 0
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        delay: 10s
      resources:
        limits:
          memory: 512M
          cpus: "1"
        reservations:
          memory: 256M
          cpus: "0.5"