<h1>CONNECT</h1>
<button id="offer">CREATE OFFER</button>
<button id="answer">GET ANSWER</button>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="~/js/connect.js"></script>