<h1>DEVICES</h1>
<button id="offer-candidates">GET OFFER CANDIDATES</button>
<button id="watch">WATCH</button>
<video></video>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="~/js/devices.js"></script>