name: build-deploy
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: [self-hosted, linux, X64]
    steps:
      - uses: actions/checkout@v2
      - name: build-container
        run: docker-compose build api
  deploy:
    runs-on: [self-hosted, linux, X64]
    steps:
      - name: deploy
        run: docker service update --image api api