@model LoginModel

<form asp-controller="Account" asp-action="Login">
  <label>
    <input asp-for="Name" type="text" placeholder="name">
    <span>Name</span>
  </label>
  <label>
    <input asp-for="Password" type="password" placeholder="password">
    <span>Password</span>
  </label>
  <button>Login</button>
</form>
<a asp-controller="Account" asp-action="Registration">Registration</a>